/** {cursor: none;}*/

body, html {height: 100%;}

body {
  padding: 0;
  margin: 0;
  background: #000;
  font-size: 1px;
}

#PlayGround {
  background-image: url('/Graphic_components/Previews/playground_test2_00001_cropped.png');
  background-repeat: no-repeat;
}


#main{
  position: absolute;
  top: 50%;
  margin-top: -250px;/* half of #content height*/
  left: 0;
  width: 100%;
}

#target_box {
  margin-right: auto;
}